/* 어두운 테마 스타일 */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e; /* 어두운 배경색 */
    color: #fff; /* 밝은 텍스트 색상 */
    font-family: Arial, sans-serif; /* 글꼴 설정 */
}

#chat-container {
    width: 60%;
    max-width: 50rem;
    min-width: 25rem;
    background-color: #333; /* 어두운 채팅 컨테이너 배경색 */
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3); /* 그림자 스타일 변경 */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-box {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #222; /* 어두운 채팅 박스 배경색 */
    padding: 1.25rem;
    white-space: pre-wrap;
    max-height: 50vh;
}

.input-container {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    background-color: #1e1e1e; /* 어두운 입력 컨테이너 배경색 */
}

.chat-input {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #444; /* 어두운 테두리 색상 */
    border-radius: 0.3rem;
    margin-right: 0.5rem;
    background-color: #333; /* 어두운 입력창 배경색 */
    color: #fff; /* 밝은 텍스트 색상 */
}

.send-container {
    position: relative;
    display: flex;
    align-items: center;
}

.send-btn, .reset-btn {
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    padding: 0.6rem 0.9rem;
    margin-right: 0.5rem;
}

.send-btn {
    background-color: blue;
    color: white;
}

.send-btn:hover {
    background-color: darkblue;
}

.reset-btn {
    background-color: red;
    color: white;
    padding: 0.5rem 0.8rem;
}

.reset-btn:hover {
    background-color: darkred;
}

/* 버튼 로딩 애니메이션 */
@keyframes loading {
    0% { content: ''; }
    25% { content: '.'; }
    50% { content: '..'; }
    75% { content: '...'; }
    100% { content: ''; }
}

.send-btn.loading::after {
    content: '';
    animation: loading 2s linear infinite;
}

.message {
    padding: 0.6rem 1.2rem;
    margin-bottom: 0.9rem;
    border-radius: 0.4rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* 그림자 스타일 변경 */
    font-size: 1rem;
    line-height: 1.5;
    color: #fff; /* 밝은 텍스트 색상 */
}

.user-message {
    background-color: #333; /* 어두운 사용자 메시지 배경색 */
    align-self: flex-end;
    margin-right: 0.6rem;
}

.server-message {
    background-color: #444; /* 어두운 서버 메시지 배경색 */
    align-self: flex-start;
    margin-left: 0.6rem;
}

.server-message::before {
    content: '→ ';
    margin-right: 0.3rem;
}
